tx-generator/node_modules/
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock

database/jwtsecret
database/jwtpublickey
database/local/nodekey

caff-node/database/local/nodekey
caff-node/database/jwtsecret

# Binary
*.exe

# Go specific
*.test
*.out
go.sum

# IDE
.idea/
.vscode/

# OS specific
.DS_Store

tx-monitor/go-ethereum/tests
tx-monitor/go-ethereum/build

# Add this line to ignore the go-ethereum directory content
/go-ethereum/
# But keep the submodule reference
!/go-ethereum/.git